{% extends 'teacher_base.html' %}
{% block content %}

<div class="container mx-auto my-5 p-2 rounded shadow" style="max-width: 550px; background-color: darkslategray; color:white;">
    <h1 class="text-center text-light p-2 mb-3">Reset Password</h1>
    <div class="container text-center mt-2">
        {% for message in messages %}
            <div class="alert alert-danger h6 mx-auto" style="max-width: 400px;">
                {{message}}
            </div>
        {% endfor %}
    </div>
    <hr class="bg-light">
    <form class="p-2" action="{% url 'reset' %}" method="post" >
        {% csrf_token %}
        <div class="form-group">
            <label class="form-label h6">Current Password : </label>
            <input type="password" class="form-control" name="current" required>
        </div>
        <div class="form-group">
            <label class="form-label h6">New Password : </label>
            <input type="password" class="form-control" name="new" required>
        </div>
        <div class="form-group">
            <label class="form-label h6">Confirm Password : </label>
            <input type="password" class="form-control" name="confirm" required>
        </div>
        <div class="row form-group">
            <button type="submit" class="btn btn-warning col-md-3 mx-auto">Submit</button>
        </div>
    </form>
</div>

{% endblock %}