{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="container mx-auto my-5 p-2 rounded shadow" style="max-width: 550px; background-color:rgb(165, 217, 230); color:black;">
    <h1 class="text-center text-dark p-2 mb-3">Student Registration</h1>
    <div class="container text-center mt-2">
        {% for message in messages %}
            <div class="alert alert-danger h6 mx-auto" style="max-width: 400px;">
                {{message}}
            </div>
        {% endfor %}
    </div>
    <hr class="bg-dark">
    <form class="p-2" id="regform" action="{% url 'register_student' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-md-6">
                <label class="form-label h6">First Name : </label>
                <input type="text" class="form-control" name="fname" required>
            </div>           
            <div class="col-md-6">
                <label class="form-label h6">Last Name : </label>
                <input type="text" class="form-control" name="lname" required>
            </div> 
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label class="form-label h6">Age :</label>
                <input type="number" class="form-control" name="age" required>
            </div>
            <div class="col-md-6">
                <label class="form-label h6">Contact Number :</label>
                <input type="text" class="form-control" name="mobile" id="mobile" required>
                <small id="mobileError" class="text-dark"></small>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label class="form-label h6">Email Address : </label>
                <input type="email" class="form-control"  name="email" id="email" required>
            </div>
            <div class="col-md-6">
                <label class="form-label h6">Username : </label>
                <input type="text" class="form-control"  name="username" id="username" required>
                <small id="usernameError" class="text-dark"></small>
            </div>
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control"  name="user_type" value="3">
        </div>
        <div class="form-group ">
            <label class="form-label h6">Upload your Picture : </label>
            <input type="file" accept="images/" class="form-control" name="picture" required>
        </div>
        <div class="form-group">
            <label class="form-label h6">Course assigned  : </label>
            <select class="form-control" name="sel" required>
                <option value="" selected disabled>Select Course</option>
                <option value="Kerala State Syllabus">Kerala State Syllabus</option>
                <option value="CBSE">CBSE</option>
                <option value="Spoken English">Spoken English</option>
                <option value="Coding for Beginners">Coding for Beginners</option>
            </select>
        </div>
        <div class="row form-group">
            <button type="submit" class="btn btn-dark col-md-3 mx-auto">Register</button>
        </div>
        <div class="row">
            <p class="mx-auto col-md-6 text-center">Already a member? <a href="{% url 'loginpage' %}">Login here</a></p>
        </div>
    </form>
</div>


<script>
    username = document.getElementById("username");
    mobileInput = document.getElementById("mobile");

    mobileInput.addEventListener("input", validateMobileNumber);
    username.addEventListener("input", validateUsername);

    function validateMobileNumber() {
        mobilePattern = /^[6-9][0-9]{9}$/;
        if (!mobilePattern.test(mobileInput.value)) {
            mobileError.textContent = "Mobile number must be 10 digits and start with 6-9";
            return;
        }
        else {
            mobileError.textContent = ""; 
        }
    }

    function validateUsername() {
        usernameError = document.getElementById("usernameError");
        if (username.value.length < 3) {
            usernameError.textContent = "Username must be at least 3 characters.";
        } 
        else {
            usernameError.textContent = "";
        }
    }


</script>

{% endblock %}